---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a> - 
        <a href="/blog">Blog</a> - 
        <a href="/about">About</a>
        <div class="prose prose-slate mx-auto">
			<h1 class=" text-4xl">About me</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, eius nemo sit cum dolore libero deserunt amet dolorum molestias accusantium, veritatis blanditiis cumque repellendus suscipit esse dolor in voluptates! Porro?</p>
		  </div>
	</body>
</html>


